body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  background-image: url(../img/bg_sedona.jpg);
  background-repeat: no-repeat;
  background-position: center -27px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.main-header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-navigation {
  order: -1;
  width: 1200px;
}
a {
   text-decoration: none;
}

.main-logo-image {
  width: 140px;
  height: 72px;
}
.site-navigation {
  padding: 0;
  margin: 0;
  width: 1200px;
  min-height: 56px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;

}
.site-navigation a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border-color: #ffffff;
}
 .site-navigation a[href]:hover {
  color: #81b3d2;
}
 .site-navigation a[htef]:focus {
  color: #b2b2b2;
}
.site-navigation-current a {
  color:#766357;
}
.promo {
  min-height: 701px;
  display: flex;
  flex-direction: column-reverse;


}
.container-promo {
  margin: 0 auto;
  width: 1200px;
  min-height: 216px;
  background-color: #ffffff;

}
.promo-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color:#ffffff;
}
.promo-text {
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}
.search-container {
  margin: 0 auto;
  width: 568px;
  min-height: 234px;
  outline: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.search-wrapper {
  margin: 0 auto;
  width: 434px;
  min-height: 96px;
  outline: 1px solid  #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color:#ffffff;
}
.search-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.searchform-open {
  font: inherit;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
  border: none;
}
.searchform-open:hover {
  background-color: #604e43;
}
.searchform-open:focus{
  color: #847870;
  background-color: #503e33;
}
.hotel-search {
  margin: 0 auto;
  width: 568px;
  min-height: 395px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  outline: 1px solid #000000;
}
.hotel-search input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.search-submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.search-submit:hover {
  background-color: #669ec0;
}
.search-submit:focus {
  color: #87b6d1;
  background-color: #5496bd;
}
.main-footer {
  background-color: #ffffff;
}
.footer-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.soсial {
  list-style: none;
}
.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.inner-page {
  background-color: #ffffff;
  background-image: none;
}
.hotels-container {
  width: 1200px;
  margin:  auto;
  min-height: 933px;
  outline: 1px solid #000000;
  display: flex;
  flex-direction: column;
}
.filters {
  color: #ffffff;
  background-color: #5d88b2;
  background-image: url(../img/filter_background.png);
  background-position: center -238px;
}
.check-wrapper {
  margin-top: 31px;
  margin-left: 72px;
  width: 391px;
  min-height: 155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 1px solid green;

}
.hotel-filters fieldset {
  border: none;
}
.hotel-filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotel-filters legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #5d88b2;
}

.hotels ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotel-list {
  margin: 0 auto;
  width: 1200px;
  min-height: 453px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid green;
}
.hotel-item {
  width: 1056px;
  min-height: 90px;
  outline: 1px solid green;
  display: flex;
  flex-direction: row;
}
.hotels a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

}
.hotel-name a:hover {
  color: #81b3d2;
  background-color: #ffffff;
}
.hotel-name a:focus {
  color: #b2b2b2;
}
.hotel-action a {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.button-details {
  background-color: #81b3d2;
}
.button-details:hover {
  background-color: #669ec0;
}
.button-details:focus {
  color: #87b6d1;
  background-color: #5496bd;
}
.button-booking {
  background-color: #766357;
}
.button-booking:hover {
  background-color: #604e43;
}
.button-booking:focus {
  color: #847870;
  background-color: #503e33;
}
.hotel-raiting {
  color: #666666;
  background-color: #f2f2f2;
}
.main-footer {
  min-height: 48px;
  margin-top: 78px;
  outline: 1px solid #000000;
  padding-top: 36px;
  padding-bottom: 36px;

}
.footer-container {
  width: 967px;
  min-height: 48px;
  margin-left: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid  #000000;
}
.footer-text {
  margin: 0;
  outline: 1px solid  #000000;
}
.social {
  margin: 0;
  outline: 1px solid  #000000;
  width: 150px;
  min-height: 48px;
  background-color: green;
}
.footer-copyright {
  margin: 0;
  width: 82;
  outline: 1px solid  #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.footer-container {
  width: 967px;
  min-height: 48px;
  margin-left: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
