body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
}
a {
   text-decoration: none;
}
.main-navigation {
  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border-color: #ffffff;
}
 .site-navigation a[href]:hover {
  color: #81b3d2;
}
 .site-navigation a[htef]:focus {
  color: #b2b2b2;
}
.site-navigation-current a {
  color:#766357;
}
.promo {
  background-color: #dbe9f2;
  background-image: url(../img/bg_sedona.jpg);
}
.promo-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color:#dbe9f2;
}
.promo-text {
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}
.search-title {
  font-size: 30px;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color:#dbe9f2;
}
.search-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
.searchform-open {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
  border: none;
}
.searchform-open:hover {
  background-color: #604e43;
}
.searchform-open:focus{
  color: #847870;
  background-color: #503e33;
}
.hotel-search {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.hotel-search input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.search-submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.search-submit:hover {
  background-color: #669ec0;
}
.search-submit:focus {
  color: #87b6d1;
  background-color: #5496bd;
}
.main-footer {
  background-color: #ffffff;
}
.footer-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.soсial {
  list-style: none;
}
.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.filters {
  color: #ffffff;
  background-color: #5d88b2;
  background-image: url(../img/filter_background.png);
}
.hotel-filters fieldset {
  border: none;
}
.hotel-filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotel-filters legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #5d88b2;
}
.hotels ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotels a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.hotel-name a:hover {
  color: #81b3d2;
  background-color: #ffffff;
}
.hotel-name a:focus {
  color: #b2b2b2;
}
.hotel-action a {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.button-details {
  background-color: #81b3d2;
}
.button-details:hover {
  background-color: #669ec0;
}
.button-details:focus {
  color: #87b6d1;
  background-color: #5496bd;
}
.button-booking {
  background-color: #766357;
}
.button-booking:hover {
  background-color: #604e43;
}
.button-booking:focus {
  color: #847870;
  background-color: #503e33;
}
.hotel-raiting {
  color: #666666;
  background-color: #f2f2f2;
}
